@model DTOsB.Category.CreateOrUpdateCategoriesDTO

@{
    ViewData["Title"] = "Edit Category";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 mt-5">
            <form asp-action="Edit" method="post" enctype="multipart/form-data" class="shadow p-4 rounded bg-light">
                <h2 class="text-center mb-4 bg-light fw-bold text-primary p-4 shadow rounded">Edit Category</h2>

              <!-- Language Dropdown -->
                @Html.DropDownListFor(model => model.Translations[0].LanguageId,
                    (IEnumerable<SelectListItem>)ViewBag.Languages, "-- Select Language --", new { @class = "form-select shadow-sm", required = "required" })

                <!-- Category Image -->
                <div class="mb-3">

                    <p>Image Path: @Model.ImageUrl</p> 
                    <img src="@Model.ImageUrl" alt="Category Image" />
                    @* <img src="@Html.HiddenFor(model => model.ImageUrl)" alt="Category Image" /> *@
                    @* @Html.HiddenFor(model => model.ImageUrl) *@

                    <label class="form-label fs-5 fw-bold" for="imageFile">Category Image</label>
                    <input type="file" class="form-control shadow-sm" id="imageFile" name="imageFile">
                </div>

                <!-- Category Name -->
                <div class="mb-3">
                    <label class="form-label fs-5 fw-bold" for="CategoryName">Category Name</label>
                    <input type="text" class="form-control shadow-sm" id="CategoryName" name="Translations[0].CategoryName" value="@Model.Translations[0].CategoryName" required>
                </div>

                <!-- Category Description -->
                <div class="mb-3">
                    <label class="form-label fs-5 fw-bold" for="Description">Category Description</label>
                    <textarea class="form-control shadow-sm" id="Description" name="Translations[0].Description" rows="3">@Model.Translations[0].Description</textarea>
                </div>

                <!-- Is Main Category -->
                <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" id="IsMainCategory" name="Translations[0].IsMainCategory" value="true" @(Model.Translations[0].IsMainCategory ? "checked" : "")>
                    <label class="form-check-label fs-5 fw-bold" for="IsMainCategory">Is Main Category</label>
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-success btn-lg shadow" type="submit">
                        <i class="fa-solid fa-check"></i> Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
